.card {
    width: 400px;
    max-width: max-content;
    margin-top: 30px;
    background-image: linear-gradient(to top right, #ffb4b4, #a4ebf3);
}

.card-icons {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    margin-right: 20px;
}